.navbar.navbar-fixed-bottom
  .navbar-inner
    .pull-left
      %button.btn-remove{:data => {:toggle => :modal}, :href => "#remove_modal"}
        ="移除"
    .pull-right
      %button.btn-add{:data => {:toggle => :modal}, :href => "#add_modal"}
        ="加入"
    .pull-center
      = raw "已選取 #{foto_checked_number} 張照片"
    .clearfix
            
- content_for :fotos_remove_modal do
  #remove_modal.modal.hide
    .modal-header
      %button.close{:data => {:dismiss => :modal} } ×
      .clearfix
    %h3.modal-body
      %p
        確定要從服務內移除
        %br
        = raw "已選取的 #{foto_checked_number} 張照片嗎？"
    .modal-footer
      = link_to "取消", "#", :class => :btn, :data => { :dismiss => :modal }
      = link_to "移除照片", "#", :class => 'btn btn-danger', :data => { :type => :form_request, :method => :delete }
      
- content_for :fotos_tagging_modal do
  #add_modal.modal.hide
    .modal-header
      %button.close{:data => {:dismiss => :modal} } ×
      %h3
        加入分類
    .modal-body
      %p
        .tags
          - current_user.tags.each do |tag|
            = render :partial => "tag", :object => tag
        .clearfix
        %form.form-inline.input-append
          %input#tag_add{ :placeholder => "輸入新分類名稱", :size => "16", :type => "text" }
            %input.btn{ :type => "button", :value => "新增", :data => { :type => :append_tag, :user_id => current_user.id, :from => "#tag_add", :to => ".modal-body .tags" } }
    .modal-footer
      = link_to "取消", "#", :class => :btn, :data => { :dismiss => :modal }
      = link_to "儲存", "#", :class => 'btn btn-primary', :data => { :type => :form_request, :method => :put }