.topbar.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :data => { :target => ".nav-collapse", :toggle => :collapse } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Green Foto', root_path, :title => "green foto", :class => :brand
      .nav-collapse.collapse
        %ul.nav
          %li.active
            = link_to '首頁', '#', :title => "首頁"
          %li
            = link_to 'mypage', '#', :title => "mypage"
        %ul.pull-right
          - if user_signed_in?
            = link_to "Dropbox 同步", dropbox_user_path(current_user), :class => "btn btn-primary"
            = link_to "登出", user_logout_path, :method => :delete, :class => "btn btn-primary"
          - else
            = link_to "Dropbox 登入", dropbox_login_path
          
          