- content_for :topbar do
  = render :partial => "topbar"
- content_for :subbar do
  = render :partial => "subbar"
  
%ul.nav.nav-pills.nav-stacked
  %li.active
    = link_to "全部相片" , "#"
  - ["尚未分類 (34)", "美食 (70)", "出遊 (152)", "毛小孩 (579)"].each do |tag|
    %li
      = link_to tag, "#"
  %li
    %form.form-inline.input-append
      %input#appendedInputButton{:placeholder => "輸入新分類名稱",:size => "16", :type => "text"}
        %button.btn{:type => "button"} 新增
.list
  - 6.times do |i|
    = render :partial => "foto_cell"
  .clearfix
  
= simple_form_for current_user, :url => collection_user_fotos_path(current_user) do |f|
  = f.simple_fields_for :fotos, @fotos do |foto_form|
    = foto_form.input_field :width
    .pic
      %label
        = image_tag foto_file_path(foto)
        = foto_form.input_field :_id, :as => :boolean, :checked => false
        = "選取"
  = f.submit "刪除", :data => { :type => :form_request, :method => :delete }
  = f.submit "更新", :data => { :type => :form_request, :method => :put }
