- content_for :topbar do
  = render :partial => "topbar"
- content_for :subbar do
  = render :partial => "subbar"

= render :partial => "menu"
  
.list
  = simple_form_for current_user, :url => collection_user_fotos_path(current_user) do |f|
    = f.simple_fields_for :fotos, @fotos do |foto_form|
      = render :partial => "foto_cell", :object => foto_form.object, :as => :foto, :locals => { :form => foto_form }
    .clearfix
    = yield :fotos_remove_modal
    = yield :fotos_tagging_modal