- content_for :topbar do
  = render :partial => "foto_top"
- content_for :subbar do
  = render :partial => "subbar"

.pull-center
  %img{ :src => @foto.url, :width => "100%" }/

= simple_form_for @foto, :url => user_foto_path(current_user, @foto), :html => { :force_submit => true } do |form|
  = yield :fotos_remove_modal
  = yield :fotos_tagging_modal